.searchInput {
    border: none;
    outline: none;
    width: 450px;
    height: 34px;
    position: absolute;
    left: 50px;
    top: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.clearIcon {
    position: absolute;
    top: 9px;
    right: 85px;
    color: #80868b;
    cursor: pointer;
}
.clearIcon::after{
    content: '';
    width: 1px;
    height: 25px;
    border-right: 1px solid #dfe1e5;
    position: absolute;
    right: -5px;
}

@media screen and (max-width: 820px) {
    .searchInput {
        width: 62%;
    }
}